<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Paisa.Properties.Settings.PracticeSQLConnectionString"
            connectionString="server=LP-PF1S5THC\SQLEXPRESS;Initial Catalog=PaisaDB;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>